.margin-top {
	margin-top: 3em;
}

.form-margin-top {
	margin-top: 0.5em;
}

.center-text {
	text-align: center;
}

.border {
	border: 0.1em solid;
	border-color: #ababab;
}

.plus-margin {
	margin-left: 10px;
}

.max-wid {
	max-width: 100%;
}

.max-hei {
	max-height: 100%;
}

td .middle-text {
	vertical-align: middle;
}

a {
	color: #000000;
	text-decoration: none;
}

.pad {
	padding: 0.5em;
}

.text-green {
	color: #009100;
}

.text-orange {
	color: #915500;
}

.about-text {
	font-size: 1.5em;
}